name: Build & Push Frontend Docker Image

on:
  push:
    branches: [ main ]
  workflow_dispatch: 
     

permissions:
  contents: read

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: . 
          push: true
          no-cache: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/company-assistant-frontend:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/company-assistant-frontend:${{ github.sha }}

      - name: Trigger Deployment in Infra Repo
        run: |
          curl -X POST https://api.github.com/repos/${{ github.repository_owner }}/infra-assistant/dispatches \
          -H "Accept: application/vnd.github.v3+json" \
          -H "Authorization: Bearer ${{ secrets.GHCR_PAT }}" \
          -d '{"event_type": "deploy_trigger"}'         
